{{#section 'title'}}
    Paket - Portal Pulsa Cermati
{{/section}}
<div class="row ml-10 mr-10">
    <div class="col s12">
        <span class="font-40">Sisa Paket</span>
    </div>
    <div class="col s12">
        <form action="#" method="post">
            <div class="input-field col s12 m6 l2">
                <select>
                    <option value="" disabled selected>Pilih Periode</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Periode</label>
            </div>
        </form>
    </div>
    <div class="mt-30 home-table row">
        <div class="col s12">
            <table class="bordered auto-scroll">
                <thead>
                    <tr class="border-bottom">
                        <th class="border-right" rowspan="3">
                            Provider
                        </th>
                        <th class="border-right" colspan="{{totalSpan}}">
                            Paket / Tanggal & Jam
                        </th>
                    </tr>
                    <tr class="border-bottom">
                        {{#each tanggal}}
                            <th id="tanggal{{tanggal}}" class="border-right" colspan="{{totalRow}}">
                                {{tanggal}}
                            </th>
                        {{/each}}
                    </tr>
                    <tr class="border-bottom">
                        {{#each tanggalJam}}
                            {{#each jam}}
                            <th class="border-right">
                                    {{this}}
                            </th>
                            {{/each}}
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                {{#each layoutTemplate}}
                    <tr>
                        <td>
                            {{this.provider}}
                        </td>
                    {{#each this}}
                        {{#each this}}
                            <td class="fixed">
                                {{this.paket}}
                            </td>
                        {{/each}}
                    {{/each}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
